$panel-opacity:             0.85;

/* GLOBAL PLACEHOLDER SELECTORS */
%bg-img-home {
  position:                 relative;
  opacity:                  0.70;
  background-position:      center;
  background-size:          cover;
  background-repeat:        no-repeat;
  background-attachment:    fixed;
}

%flexbox-center-vertical {
  flex-direction:           column;
  display:                  flex;
  justify-content:          center;
  align-items:              center;
}

%flexbox-galery-items {
  display:                  flex;
  flex-wrap:                wrap;
  justify-content:          space-evenly;
  align-items:              flex-start
}

%fat-text {
  color:                    #000;
  font-size:                27px;
  letter-spacing:           8px;
  font-weight:              900;
}

%panel-transparent {
  background:               none;
  .panel-heading {
    background-color:       $panel-default-heading-bg !important;
    opacity:                $panel-opacity !important;
  }
  .panel-body {
    background:             rgba(255, 255, 255, $panel-opacity)!important;
  }
}

%nav-post-link {
  a {
    padding:                0;
    margin:                 0;
    form > input {
      min-width:            100px;
      height:               $navbar-height;
      background:           none;
      border:               none;
    }
  }
}

%nonInteractbtnSuccess {
  .btn-success:hover {
    background-color: $brand-success;
    cursor: default;
    border-color: $btn-success-border;
  }
}

body {
  margin:0;
  padding:0;
  height:                   100%;
  background:               #f4f4f4;
}

.bg-danger {
  background-color: $state-danger-bg !important;
}

/* NAVBAR */
nav {
  .navbar-brand {
    padding-top:            0;
    padding-bottom:         0;
    img {
      height:               100%;
      opacity:              0.7;
    }
  }
  .nav{
    li {
      @extend               .text-center;
      min-width:            100px;
      &:hover {
        background:         linear-gradient(to bottom right, $navbar-default-bg 25%, darken($navbar-default-bg, 6.5%) 100%);
      }
      a:focus {
          outline: none !important;
          box-shadow: none !important;
      }
    }
  }
  .nav-post-link {
    @extend                 %nav-post-link;
  }
  li#basket {
    a {
      padding-top:          floor(($navbar-height - 35)/2);
      padding-bottom:       ceil(($navbar-height - 35)/2);
      > span {
        font-size:          30px;
        span.badge {
          margin-left:      -23px;
          margin-top:       -35px;
          background:       rgb(121,207,169);
        }
      }
    }
  }
}

/* HOME PAGE */
body#home-page{
  main {
    font-size:                16px;
    font-weight:              600;
    #bgmain-top {
      @extend                 %bg-img-home, %flexbox-center-vertical;
      height:                 calc(100vh - #{$navbar-height});
      background-image:       url('../img/bg/bgmain.jpg');
    }
    #bg1 {
      @extend                 %bg-img-home, %flexbox-center-vertical;
      background-image:       url('../img/bg/bg1.jpg');
      min-height:             400px;
    }
    #bg2 {
      @extend                 %bg-img-home, %flexbox-center-vertical;
      background-image:       url('../img/bg/bg2.jpg');
      min-height:             400px;
    }
    #bgmain-bottom {
      @extend                 %bg-img-home, %flexbox-center-vertical;
      height:                 100vh;
      background-image:       url('../img/bg/bg3.jpg');
      .panel {
        @extend %panel-transparent;
      }
    }
    div.panel > div:only-child {
      @extend                 %fat-text;
    }
    .section-text {
      text-align:             center;
      padding:                0;
      p {
        padding:              5px 0 10px 0;
      }
    }
  }
}
/* VEHICLES PAGE */
body#vehicles-page {
  height: 100vh;
  width: 100%;
  background:             url('../img/bg/vehicles_bg3x.jpg') no-repeat center center fixed;
  background-size:        cover;
  main {
    .row {
      @extend %flexbox-galery-items;
      padding-top:            20px;
      .panel {
        .panel-heading {
          padding:            5px;
          h2 {
            margin:           5px 0 10px 20px;
          }
          img {
            margin:           0px;
          }
        }
        .panel-footer {
          display:            flex;
          justify-content:    space-between;
          align-items:        center;
          form {
            @extend %nonInteractbtnSuccess;
          }
          p {
            margin:           0;
          }
        }
      } // end of .panel

    }
  }
}

/* ART PAGE */
body#art-page {
  height: 100vh;
  width: 100%;
  background:             url('../img/bg/rain_bg3x.jpg') no-repeat center center fixed;
  background-size:        cover;
  main {
    .row {
      @extend %flexbox-galery-items;
      padding-top:            20px;
      .panel {
        .panel-heading {
          padding:            5px;
          h2 {
            margin:           5px 0 10px 20px;
          }
          img {
            margin:           0px;
          }
        }
        .panel-footer {
          display:            flex;
          justify-content:    space-between;
          align-items:        center;
          form {
            @extend %nonInteractbtnSuccess;
          }
          p {
            margin:           0;
          }
        }
      } // end of .panel

    }
  }
}

/* BASKET PAGE */
body#basket-page {
  height: 100vh;
  width: 100%;
  background:             url('../img/bg/basket3x.jpg') no-repeat center center fixed;
  background-size:        cover;
  main {
    .row {
      padding-top:            20px;
      #accordion {
        .panel-heading {
          padding: 5px 15px;
          h4 {
            display: flex;
            align-items: center;
            a {
              display: flex;
              justify-items: flex-start;
              justify-self: flex-start;
              align-items: center;
              padding-right:20px;
              width: 100%;
              &:hover {
                text-decoration: none;
              }
              &:focus {
                text-decoration: none;
              }
              span:nth-of-type(1) {
                width: 100px;
                text-align: center;
              }
              span:nth-of-type(2) {
                margin-left: 10px;
                padding-left: 15px;
              }
              span:nth-of-type(3) {
                margin-left: auto;
              }
              img {
                height: 50px;
              }
            }
            form {
              justify-self: flex-end;
            }
          }
        }
        .panel-body {
          max-height: 100px;
          overflow: auto;
        }
      } // accordion end
      .well {
        margin-top: 20px;
      }
    } // row end
  } // main end
}
/* MODAL */
.modal {
  .input-group {
    width: 100%;
    .input-group-addon {
      width:                  105px;
    }
  }
}

/* Is this good to use?? */
.section-text2 {
  @extend                   .container;
  h2 {
    font-size:              50px;
  }
  p {
    color:                  red;
  }
}