$panel-opacity:             0.85;

/* GLOBAL PLACEHOLDER SELECTORS */
%bg-img-home {
  position:                 relative;
  opacity:                  0.70;
  background-position:      center;
  background-size:          cover;
  background-repeat:        no-repeat;
  background-attachment:    fixed;
}

%bg-img-gallery {
  position:                 relative;
  #bg {
    position:               absolute;
    top:                    0;
    left:                   0;
    height:                 100%;
    width:                  100%;
    background:             url('../img/bg/rain_bg.jpg') no-repeat center center fixed;
    background-size:        cover;
    opacity:                0.30;
    filter:                 blur(4px) brightness(65%);
  }
}

%flexbox-center-vertical {
  flex-direction:           column;
  display:                  flex;
  justify-content:          center;
  align-items:              center;
}

%fat-text {
  color:                    #000;
  font-size:                27px;
  letter-spacing:           8px;
  font-weight:              900;
}

%panel-transparent {
  background:               none;
  .panel-heading {
    background-color:       $panel-default-heading-bg !important;
    opacity:                $panel-opacity !important;
  }
  .panel-body {
    background:             rgba(255, 255, 255, $panel-opacity)!important;
  }
}

body {
  margin:0;
  padding:0;
  height:                   100%;
  background:               #f4f4f4;
}

/* NAVBAR */
nav {
  .navbar-brand {
    padding-top:            0;
    padding-bottom:         0;
    img {
      height:               100%;
      opacity:              0.7;
    }
  }
  .nav{
    li {
      @extend               .text-center;
      min-width:            100px;
      &:hover {
        background:         linear-gradient(to bottom right, $navbar-default-bg 25%, darken($navbar-default-bg, 6.5%) 100%);
        //border-radius: 5px;
        //background: linear-gradient(to bottom right, $navbar-default-bg 25%, darken($navbar-default-bg, 20.5%) 75%, $navbar-default-bg 100%);
        //background: radial-gradient(darken($navbar-default-bg, 6.5%), $navbar-default-bg);
        // background: linear-gradient(to bottom right, darken($navbar-default-bg, 4.5%), $navbar-default-bg);
      }
    }
  }
}

/* HOME PAGE */
main#home-page {
  font-size:                16px;
  font-weight:              600;
  #bgmain-top {
    @extend                 %bg-img-home, %flexbox-center-vertical;
    height:                 calc(100vh - #{$navbar-height});
    background-image:       url('../img/bg/bgmain.jpg');
  }
  #bg1 {
    @extend                 %bg-img-home, %flexbox-center-vertical;
    background-image:       url('../img/bg/bg1.jpg');
    min-height:             400px;
  }
  #bg2 {
    @extend                 %bg-img-home, %flexbox-center-vertical;
    background-image:       url('../img/bg/bg2.jpg');
    min-height:             400px;
  }
  #bgmain-bottom {
    @extend                 %bg-img-home, %flexbox-center-vertical;
    height:                 100vh;
    background-image:       url('../img/bg/bgmain.jpg');
    .panel {
      @extend %panel-transparent;
    }
  }
  div.panel > div:only-child {
    @extend                 %fat-text;
  }
  .section-text {
    text-align:             center;
    padding:                0;
    h2 {

    }
    p {
      padding:              5px 0 10px 0;
    }
  }
}

/* CARS PAGE */
main#cars-page {
  @extend %bg-img-gallery;
  #bg {
    background:             url('../img/bg/vehicles_bg.jpg') no-repeat center center fixed;
  }

  .row {
    padding-top:            20px;
    .panel {
      .panel-heading {
        padding:            5px;
        h2 {
          margin:           5px 0 10px 20px;
        }
        img {
          margin:           0px;
        }
      }
      .panel-footer {
        p {
          margin:           0;
        }
      }
    } // end of .panel

  }
}

/* ART PAGE */
main#art-page {
  @extend %bg-img-gallery;
  #bg {
    background:             url('../img/bg/rain_bg.jpg') no-repeat center center fixed;
  }

  .row {
    padding-top:            20px;
    .panel {
      .panel-heading {
        padding:            5px;
        h2 {
          margin:           5px 0 10px 20px;
        }
        img {
          margin:           0px;
        }
      }
      .panel-footer {
        p {
          margin:           0;
        }
      }
    } // end of .panel

  }
}

/* Is this good to use?? */
.section-text2 {
  @extend                   .container;
  h2 {
    font-size:              50px;
  }
  p {
    color:                  red;
  }
}